<% provide(:title, 'Alex J Meyers') %>  
  <div class="row">
    <div class="large-12 columns padding">
      <h1>Welcome to my personal website!<h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns padding">
      <div class="show-for-medium-up">
        <ul class="orbit" data-orbit>
          <li>
            <%= image_tag 'alaska.jpg' %>
            <div class="orbit-caption">
              My family and I travel to cool places like Alaska.
            </div>
          </li>
          <li>
            <%= image_tag 'hawaii.jpg' %>
            <div class="orbit-caption">
              We have also been to see Hawaii's volcanoes.
            </div>
          </li>
          <li>
            <%= image_tag 'hawaii2.jpg' %>
            <div class="orbit-caption">
              ...and Mauna Kea in Hawaii as well.
            </div>
          </li>
          <li>
            <div class="center">
              <h2>Thanks for visiting my website!</h2>
              <h2>Check out my <%= link_to 'blog', blog_path %> too.</h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row padding">
    <div class="large-12 columns">
      <h6 class="centertext">
        Hey there.  My name is Alex Meyers and this is my personal website.
      </h6>
      <h6 class="centertext">
        I am an Information Science Major at Cornell University graduating May 2015.
      </h6>
      <h6 class="centertext">
        I am currently working on a cool new startup called <a href='http://www.daapr.com' target="_blank">daapr</a>.
      </h6>
      <h6 class="centertext">
        Check out my <a href='https://alex-twitter.herokuapp.com' target="_blank">sample twitter application</a> that I made with Rails.
      </h6>
      <h6 class="centertext">
        Feel free to email me at ajm339@cornell.edu
      <h6>
    </div>
  </div>