<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @comment.name %> commented on your blog.</h1>
<p>
  Name: <%= @comment.name %>
</p>
<p>
  Email: <%= @comment.email %>
</p>
<p>
  Body: <%= @comment.body %>
</p>

<p>Boom City</p>

</body>
</html>