<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for commenting on my blog post, <%= @comment.name %></h1>
<p>
  This email is just a confirmation that your comment was saved.  I will see your response in my inbox soon.
</p>
<p>
  I encourage you to read some of the content that I find intersting on <a href="https://www.daapr.com/users/2" target="_blank">Daapr</a>.
</p>
<p>Thanks for visiting and have a great day!</p>
<p>Alex Meyers</p>
</body>
</html>