<%= div_for comment do %>
	<div class="row">
		<div class="large-6 columns">
	        <h6>Posted by <%= comment.name %> on <%= time_tag(comment.created_at) %></h6>
		    <p>
		        <%= comment.body %>
	        </p>
	    </div>
    </div>
<% end %>