<article>
    <h3><%= link_to_unless_current post.title, post %></h3>
    <h6>Written by Alex Meyers on <%= time_tag(post.created_at) %></h6>

    <div class="row">
      <div class="large-6 columns">
        <p><%= post.body %></p>
      </div>
      <div class="large-6 columns">
        <%= link_to image_tag(post.image), post.url, :target=>'_blank' %>
      </div>
    </div>
</article>