<% provide(:title, 'Editing ' + @post.title) %> 
<div class="row padding">
	<div class="large-8 large-offset-2 columns">
		<h3>Editing post</h3>

		<%= render 'form' %>
		<div>
			<%= link_to 'Show', @post %> |
			<%= link_to 'Back', blog_path %>
		</div>
	</div>
</div>