.padding{
    padding-top:50px;
}

.right{
	float:right;
}

a.button{
	margin:0px 5px 0px 5px;
}

.slider{
	background-color: #008CBA;
}

.orbit-container{
	width:720px;
	margin:auto;
	background-color: #e7e7e7;
}

.center{
	text-align: center;
	margin-top:20%;
}

.centertext{
	text-align: center;
}

#click_modal{
	background-color:gray;
}

