<!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-4 columns">
          <p>© Alex J Meyers</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li> <a href="http://www.linkedin.com/pub/alexander-meyers/84/631/581/" target="_blank">LinkedIn</a></li>
            <li> <a href="https://github.com/ajm339" target="_blank">GitHub</a></li>
            <li> <%= link_to 'Resume', 'https://s3-us-west-2.amazonaws.com/alexjmeyers/Alexander+J+Meyers+-+Resume.pdf', :target=> '_blank' %></li>
            <% if session[:admin] %>
                <li><%= link_to 'New post', new_post_path %></li>
            <% end %>
            <li><a href="#" data-reveal-id="click_modal" data-reveal>Click me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


<div id="click_modal" class="reveal-modal" data-reveal>
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <a href="http://www.daapr.com" target='_blank'><%= image_tag('LOGO.png', alt:"daapr logo") %></a>
    </div>

  <a class="close-reveal-modal">&#215;</a>
</div>