<aside class="right-off-canvas-menu" id="right_nav">
  <%= link_to 'Home', root_url, :class=>'navigation_icon' %>
  <%= link_to 'Blog', blog_path, :class=>'navigation_icon' %>
  <%= link_to 'AWS Guide', amazon_web_services_guide_path, :class=>'navigation_icon' %>
  <a href="http://www.daapr.com" class="navigation_icon" target="_blank">Daapr</a>
  <a href="http://www.myexerciseplans.com" class="navigation_icon" target="_blank">MyExercisePlans</a>
</aside>