<div class="row" id="subnav">
    <div id="subnav_content">
      <div class="small-10 columns">
        <%= link_to image_tag('alexjmeyers_logo.gif', id:'pageTitle'), root_url %>
      </div>
      <div class="small-2 columns">
        <a class="right-off-canvas-toggle" id="showMenu" href="#"><%= image_tag('menu.png', alt:'menu', id:'menu_icon') %></a>
      </div>
    </div>
</div>

